[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
pre-commit = "*"
black = "*"
pytest = "*"
nox = "*"
isort = "*"
datacrystals = {editable = true, path = "."}
gitchangelog = "*"
ptpython = "*"
pydantic = "*"  # this is an optional package, enabling dynamic typechecking

[packages]
result = "*"
hypothesis = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
